{% extends 'ProjectDesign/extras/base.html' %}

{% block content %}
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-10 mx-auto">

        <!-- Heading -->
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">
                {{ object.get_class_name }} Retrieve Page
            </h1>
            <div class="flex pt-5 justify-center">
                <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
            </div>
        </div>

        <!-- Retrieve -->
        <div class="flex flex-col items-center justify-center px-5">
            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{{ object.image.url }}">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-2 font-medium text-gray-900">{{ object.title }}</h1>
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 uppercase mb-4">{{ object.subtitle }}</h2>
                <div class="mb-8 leading-relaxed">{{ object.description | safe }}</div>
                <div class="flex justify-center">
                    <a href="{{ object.get_object_update_url }}" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Update</a>
                    <a href="{{ object.get_object_delete_url }}" class="ml-4 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Delete</a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}
