<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="{% url 'ProjectModel:home-page' %}" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <span class="ml-3 text-xl">Apurv Chatur</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <b><a href="#home" class="mr-5 hover:text-white">Home</a></b>
      <b><a href="#about" class="mr-5 hover:text-white">About</a></b>
      <b><a href="#intrests" class="mr-5 hover:text-white">Intrests</a></b>
      <b><a href="#projects" class="mr-5 hover:text-white">Projects</a></b>
      <b><a href="#contact" class="mr-5 hover:text-white">Contact</a></b>
    </nav>
  </div>
</header>